<!DOCTYPE html>
<html>
<head>
  <title>A minimal knitr example in HTML</title>
</head>
<body>

<!--begin.rcode
  knitr::opts_chunk$set(fig.width=5, fig.height=5)
  end.rcode-->
  
  
<!--begin.rcode> 
library(tidyverse)
billboard %>%
    pivot_longer(
      wk1:wk76,
      names_to = "week",
      values_to = "rank",
      values_drop_na = TRUE
    ) %>%
    mutate(week = as.integer(gsub("wk", "", week)),
           date = as.Date(as.Date(date.entered) + 7 * (week - 1)),
           date.entered = NULL)
end.rcode-->






</body>
</html>
